<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="../css/chatroom.css">
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		$(function(){
			var num = '{{title}}'
			var host = '{{config.host}}'
			var userid = '{{user.ProfileID}}'
			var socket = io.connect(host + '/roomlist')
			socket.on('connect', function(){
				console.log('Connection Done!')
				socket.emit('getrooms',{id: userid})
			})
			socket.on('printrooms',function(data){
				$('.roomlist').html('')
				var Procdata = JSON.parse(data)
				Procdata.sort(function(a,b) {
					return a.LastMessagetime.getTime() > b.LastMessagetime.getTime()
				})
				for(var i = 0; i < Procdata.length; i++)
				{
					var str = '<a href="room/' + Procdata[i].FriendID + '"><li>' + Procdata[i].FriendID + '</li></a>'
					$('.roomlist').prepend(str)
				}
			})
			socket.on('roomupdate',function(data){
				$('.roomlist').html('')
				var Procdata = JSON.parse(data)
				for(var i = 0; i < Procdata.length; i++)
				{
					var str = '<a href="room/' + Procdata[i].FriendID + '"><li>' + Procdata[i].FriendID + '</li></a>'
					$('.roomlist').prepend(str)
				}
			})
			$(document).on('click','#create',function(){
				var room_number = $('.newRoom').val()
				if(room_number != '')
				{
					var today = new Date()
					socket.emit('newRoom',{FriendID:room_number,ProfileID:userid,Seenstatus: true,LastMessagetime: today})
					$('.newRoom').val('')
				}
			})
		})
	</script>
</head>
<body>
	<div class="cr-container">
		<h1 class="cr-title">MY_CHAT</h1>
		<div class="cr-userbox">
			<img src="" class="userPic">
			<h3 class="userName">{{user.Fullname}} | <a href="/">Logout</a></h3>
		</div>
		<div class="cr-newroom">
			<input type="text" class="newRoom" autocomplete="off">
			<button id="create">Create Room</button>
		</div>
		<div class="cr-roomlist">
			<ul class="roomlist">
				<!--
				<a href="#"><li>NodeJS</li></a>
				<a href="#"><li>Cloud Computing</li></a>
				<a href="#"><li>MongoDB</li></a>
				-->
			</ul>
		</div>
	</div>
</body>
</html>
